<%- include('header'); -%>


    <div class="main-div" style="padding-top: 30px; display: flex; justify-content: center;align-items: center; flex-direction: column;">
        <div class="row" style="width:80%">
            <div class="col-md-6">
                <div class="card" style="height: 120px; display: flex; justify-content: center; align-items: center;">
                    <p style="font-size: 24px; font-weight: 600;">
                        News : <%= news %>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card"  style="height: 120px; display: flex; justify-content: center; align-items: center;">
                    <p style="font-size: 24px; font-weight: 600;" >
                        User :  <%= users %>
                    </p>
                </div>
            </div>

        </div>

        <div class="row "  style="width: 80%; margin-top: 20px;">
            <div class="col-md-12">

                <table  class="table table-primary" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>title</th>
                            <th>status</th>
                            <th>description</th>
                            <th>body</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0 ; i< newsBody.length ; i++) { %>
                            <tr>
                                <td>
                                    <%= newsBody[i].title %>
                                </td>
                                <td>
                                    <%= (newsBody[i].isReleased) %>
                                </td>
                                <td>
                                    <%= newsBody[i].desc %>
                                </td>
                                <td>
                                    <%= newsBody[i].body %>
                                </td>
                                <td style="cursor: pointer; color : red">
                                    Delete
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>


    </div>


<%- include('footer'); -%>